<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.8.9/jquery.csv.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <title>リニューアル後国税庁サイト検索</title>
  </head>
  <body>
    <div id="app">
      <header class="navbar">
        <div class="navbar-menu">
          <div class="navbar-start">
            <p class="navbar-item has-text-weight-bold">
              リニューアル後国税庁サイト検索
            </p>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input v-model="searchQuery" class="input" placeholder="例：手引 平成 29" @keydown.enter="search">
          </div>
          <div class="control is-expanded">
            <button class="button is-info" @click="search">
              検索
            </button>
          </div>
        </div>
        <div class="notification">
          Internet Explorerでのご利用は動作が緩慢になります。<a href="https://www.google.co.jp/chrome/index.html">Google Chrome</a>のご利用を推奨します
        </div>
      </div>
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th>title</th>
            <th>url</th>
          </tr>
        </thead>
        <tfoot v-if="isNoData">
          <tr>
            <td class="is-size-4"><strong>該当なし</strong></td>
          </tr>
        </tfoot>
        <tbody>
          <tr v-for="result in results">
            <td v-text="result.title"></td>
            <td>
              <a v-text="result.url" :href="result.url" target="_blank"></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="container">
        <button class="button is-primary js-show-usage-button" >使い方を確認する</button>
        <div class="notification is-hidden js-usage-notification">
          <div class="container">
            <p class="has-text-weight-bold">(使い方)</p>
            <p>・ エンターキーか、検索ボタンから検索を実行できます</p>
            <p>・ スペース区切りで複数の単語に該当するかを検索できます</p>
            <p>・ 例： 「手引　平成　29」</p>
          </div>
          <div class="container">
            <p class="has-text-weight-bold">(旧サイトのURLをお持ちの方)</p>
            <p>・手元にある(お気に入り登録されているなど)旧ページ（URL）の一部分（末尾一部分）をコピーして検索ができます</p>
            <p>　（例）http://www.nta.go.jp/shiraberu/ippanjoho/pamph/sozoku/aramashi/pdf/03.pdf </p>
            <p>　　　コピーする文字列[ sozoku/aramashi ]</p>
            <p>　※見つからない場合はコピーする文字列の範囲を短くすることをおすすめします</p>
          </div>
        </div>
        <div class="container">
          <p>（平成30年4月3日現在の情報によっています。）</p>
        </div>
      </div>
      <hr>
      <div class="notification">
        <p>当サービスの検索結果により生じたいかなる損害に関して、当社は責任を負いかねます。あらかじめご了承ください。</p>
        <a href="https://github.com/moneyforward/tax_newurl/issues/new">バグの報告などはこちらから</p>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="./index.js"></script>
</html>
